
	*,
    *::before,
    *::after {
      box-sizing: inherit;
	}
	f
	body	{
		background: antiquewhite;
		box-sizing: border-box;
		opacity: 8;
		margin: 0 auto;
		width: 100%;
		z-index: 99;
			
}
	@media (max-width: 600px){	
	body	{
	background-color: antiquewhite;
	box-sizing: content-box;
	width: 500px;		
	}
	}

	@media (min-width: 768px) and (max-width: 959px){	
		body	{
		background-color: antiquewhite;
		box-sizing: content-box;
		height: auto;
		width: 700px;		
		}
		}
		@media (min-width: 1024px)and (max-width: 1100px) {	
			body	{
			background-color: antiquewhite;
			box-sizing: content-box;
			height: 2200px;
			}
		}	
			/* @media (min-width: 1366px) and (min-height: 768px) {
			body{
				height: 1000px;
			}
		} */


	@media (min-width: 1800px){	
		body	{
		background-color: antiquewhite;
		box-sizing: content-box;
		height: 2000px;
				
		}
		}
/*This holds the header info*/
.container-top {
	display: flex;
	flex-direction: column;
	opacity: .7;
	width: 100%;
	font-size: 30px;
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	background-color: #552233;
	color: antiquewhite;
	margin-right: 20px;
	margin-left: 20px;
	height: 175px;
		
	} 

	@media (max-width: 600px){
	.container-top	{
	width: 100%;
	min-width: 480px;
	max-width: 600px;
	height: 110px;
	}
  }

  @media (max-width: 768px){
	.container-top	{
	width: 100%;
	height: 150px;
	}
  }
	
/* Main heading of page */
h1 {
		display:flex;
		flex-direction: column;
		position: absolute;
		top:0;
		left: 40px;
		color: antiquewhite;
		text-shadow: 7px: darkmagenta ;
		width: 100%;
		/*height: auto;*/
		margin-left: 30px
		margin-right: 30px;
		z-index:1;
		font-style: italic;
		padding: 15px;
		padding-top: 0;		
	}

@media (max-width: 600px){	
	h1 {
	min-width: 480px;
	max-width: 600px;
	font-size: 30pt;
	padding: 0;
	padding-left: 15px;
	padding-botton: 5px;
	margin-right: 15px;
	margin-bottom: 	5px; 
	position: absolute;
	left: 15px;
	}
}
	/* Subheading on top */
	span.heading	{
	font-size: 20pt;
	font-style: italic;
	padding-bottom: 10px;
}

This is the list of links in the nav

	nav		{
	display: flex;
	flex-direction: row;
	width:80%;
	position: absolute;
	top: 19%;
	left: 5px;
	height: auto;	
	margin-bottom: 25px;
	overflow: visible;
	border: solid 10px darkgreen;
} 
	@media (max-width: 600px){
	nav{
	width: 100%;
	height: auto;
	margin: 0 auto;
	position: absolute;
	top: 18%;
	left: 20px;
	min-width: 480px;
	max-width: 600px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	
	}
}

@media (min-width: 1024px)and (max-width:1100px){
nav{
	top: 12%;
}
}

@media (min-width: 1300px)and (max-width:1415px)and (min-height:720px ) and (max-height: 740px){
nav {
	top: 25%;
}

}

/* This is the list of links in the nav */

div.nav		{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 130px;
	right: 100px;
	margin-left: 10px;
	margin-top: 25px;	
	margin-bottom: 25px;
	overflow: visible;
/* border	: solid maroon 10px;	*/
} 
@media (max-width: 600px){
 div.nav		{
	position: absolute;
	top: 0;
	left: 10px;
	margin-left: 5px;
	display: flex;
	width: 100%;
	align-content: flex-end;
	
	
	
}
} 

 ul.nav		{
	display: flex;
	flex-direction: row;
	list-style: none;
	font-size: 15pt;
	font-weight: 800;
	width: 100%;
	justify-content: flex-end;
	align-content: flex-end;
	margin-left: 5px;
    margin-top: 20px;
	margin-bottom: 100px;
	/* border: dotted 5px black; */

}


 @media (max-width: 600px){
	ul.nav {
		position: absolute;
		top: 0;	
		left: 5px;
		width: 100%;
		padding: 0;
		/* margin-left 15px; */
		align-content: flex-end;
		/* justify-content: space-around;
	align-content: center;
	margin-left: 10px; */
	
	}
} 
	
/* @media (min-width: 1024px) and (max-width: 1100px){
	ul.nav {
		position: absolute;
		left:0;
	}
}

@media (min-width: 1300px)and (max-width:1415px)and (min-height:720px ) and (max-height: 740px){
	ul.nav {
		position: absolute;
		top: 5%;
		border: solid black 5px;
	}
   } */





li a	{
	text-decoration: none;
}
	a.link{
	color: hsla(0, 47%, 35%, 0.349);
}

a.visited{
	color: darkcyan;
	background-color: antiquewhite;
}

a.hover {
	color: peachpuff;
}
a.active {
	color: #334255;
}

	


@media (min-width: 1024px) and (max-width: 1100px){
	ul.nav {
		position: absolute;
		left:0;
	}
}

@media (min-width: 1300px)and (max-width:1415px)and (min-height:720px ) and (max-height: 740px){
	ul.nav {
		position: absolute;
		top: 5%
	}
   } */
	/* These are the individual list items in the gallery nav */


li.nav		{
	display; flex;
	justify-content: center;
	align-items: center;
	width: 150px;
	margin: 8px;
	margin-top: 10px;
	margin-bottom: 25px;
	color: #antiquewhite;
	font-weight: 800;
	font-size: 15pt;
	font-style: italic;
	padding-left: 10px;
	height: 25px;
	border-radius: 30px 40px;
	z-index:99;
}


@media (max-width: 600px){
	li.nav{
		font-size: 12pt;
		/* margin-right: 15px;
		margin-left: 15px; */
		padding-top; 5px;
		padding-bottom: 5px;
		width: 100%;
		/* justify-items: space-between; */
		/* border: solid black 5px; */
		
		z-index: 99;
		
	}	
	}


li a	{
	text-decoration: none;
}
/* This holds the article and sidebar divs */
div.multi {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 25%;
	width: 100%;
	background-color: antiquewhite;
	height: 2500px;
}

@media (max-width: 600px){
	div.multi {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-wrap: wrap;
		position: absolute;
		top: 28%;
		width: 100%;
		height: 2000px;
		background-color: antiquewhite;
		
	}
	}				
/* This holds the bio and artist's statement */
	.intro{
	display: flex;
	flex-direction: column;
	width: 70%;
	margin-right: 10px;
	margin-left: 35px;
	margin-top: 10px;
	padding-left:10px;
	padding-right:10px;
	padding:top: 25px;
	text-decoration: none;
	/* flex-direction: column; */
	position: absolute;
	left: 50px;
	background: url('Trade.jpg');
	background-blend-mode: screen;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: absolute;
	opacity: .7;
	color:##000066;
	font-size: 15pt;
	font-family: Elsie; serif;
	font-weight: 700;
	overflow: auto;	
	z-index: 10;
	} 

	@media (max-width: 600px){
		.intro	{
			width: 100%;
			min-width: 480px;
			max-width: 600px;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 1%;
			left:3px;
			margin: 0 auto;
			padding: 0;
			line-height: 20pt;
		  }
		}

		
		@media (min-width: 768px) and (max-width: 959px){
		.intro	{
			width: 100%;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 28%;
			left:3px;
			margin: 0 auto;
			padding: 0;
			line-height: 20pt;
		  }
		}

		
@media (min-width: 1024px)and (max-width:1100px){
.intro {
		width: 60%;
		margin-left: 10px;
	}
}
		p	{
			/* padding-bottom: 5px;  */
			margin-left: 5px;
			margin-right: 5px;
			font-size: 16pt;
			font-weight: 600; 
			color: #553343;
			font-style: italic;
			text-align: left;
			
		}
			@media (max-width: 600px){
			p	{
			margin-left: 0;
			margin-right: 0;
			font-size: 14pt;
			font-weight: 600; 
			color: #553343;
			font-style: italic;
			text-align: left;
		
		}
	}	
/* This is the main bio article heading */
p.intro-title {
	padding: 10px; 
	font-size: 24pt;
	font-weight: 600px;
	margin-bottom:5px;
	margin-top:5px;
	width:100%;
	opacity: 1;
	color: #553343
	z-index: 10; 	
} 

@media (max-width: 600px){
	p.intro-title {
		font-size: 22pt;
		padding-left: 10px;
		margin-top: 8%;
}
}


/*These are the text narrative subheadings*/
span.intro-sub	{
	font-size: 20pt;
	color: darkmagenta;
	font-weight: 600;
	opacity: 1;
	background-color: antiquewhite;
	margin-left: 5px;
	padding: 5px;
	z-index: 10;	
}

@media (max-width: 600px){
span.intro-sub	{
	font-size: 17pt;
}
}
/*This is the narrative text itself*/
span.intro-p1{
	font-size: 15pt;
	background-color: antiquewhite;
	opacity: 1;
	margin-left: 5px;
	padding: 5px;
	line-height: 22pt;
	z-index: 10;
}
@media (max-width: 600px){
span.intro-p1{
	font-size: 95%;
	background-color: antiquewhite;
	opacity: 1;
	margin-left: 5px;
	padding: 5px;
	line-height: 20pt;
	z-index: 10;
}
}

/* Photo of the artist */
img.bio {
	float: left;
	width:150px;	
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	z-index: 10;
   }
   @media (max-width: 600px){
   img.bio {
	float: left;
	width:150px;	
	padding-right: 5px;
	padding-left: 5px;
   }
}

   /* Photo of the artist painting outdoors*/
   img.pleinair {
	float: right;
	width:250px;	
	padding-right: 10px;
	padding-left: 10px;
	text-decoration: none;
	z-index: 10;
   }
   @media (max-width: 600px){
   img.pleinair {
	float: right;
	width:150px;	
	padding-right: 5px;
	padding-left: 5px;
   }
}   
.recentptg	{
	width: 100%;
	display: block;
	height: 421px;
}
@media (max-width: 600px){
.recentptg	{
	width: 100%;
	display: block;
	text-align: left;
	height: 421px;
	position: sticky;
	top: 500px;
	left: 0px;
	
}
}
@media (min-width: 768px) and (max-width: 959px){
	.recentptg	{
		width: 100%;
		display: block;
		height: 421px;
		position: sticky;
		top: 500px;	
	}
	} 

	@media (min-width: 1024px) and (max-width: 1100px){	
		.recentptg	{
			width: 100%;
			display: block;
			height: 421px;
			position: sticky;
			top: 500px;
			left:100px;
			
				
		}
		} 

	
.recentptgcontainer  {
	Width: 303px;
	height: 421px;
	margin-left: 10%;
	margin-right: 35%;
	margin-top: 0;
	box-shadow: 5px 5px 5px 3px maroon; 
}

@media (max-width: 600px){
.recentptgcontainer  {
	position: absolute;
	left: 10px;
	Width: 303px;
	margin-left: 10px;
	height: 421px;
	margin-right: 40px;
	box-shadow: 5px 5px 5px 3px maroon; 
}
}

@media (min-width: 768px) and (max-width: 959px){
	.recentptgcontainer  {
		Width: 303px;
		height: 421px;
		margin-left: 8px;
		margin-right: 8px;
		box-shadow: 5px 5px 5px 3px maroon; 
	}
	}
	@media (min-width: 1024px) and (max-width: 1100px){	
		.recentptgcohntainer	{
			display: flex;
			flex-direction: row;
			position: absolute;
			align-items: center;
			
		
		
		}
		}
	

/* These are the recent works picture captions */
.recentn {	
	width:100%;
	padding: 15px;
	height: 40px;
	text-align: center;
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	color:maroon#553344;
	font-size:14pt;
	/* margin-top: 5px; */	
	}
	@media (max-width: 600px){	
	.recentn {	
		width:65%;
		padding: 3px;
		height: 20px;
		text-align: left;
		font-family: 'Gudea', sans-serif;
		font-weight: 600;
		font-style: italic;
		color:maroon#553344;
		font-size:14pt;	
		}
	}
		/* right panel image toggle links to online galleries/	 */
		

/*right panel exhibits*/ 

/* This is the inside container for the gallery toggle links */

.container { 
	float:right;
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-items: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
	margin-left: 10px;
	margin-right: 10px;
	width:100%;
	padding:25px;
	padding-top:0px;
	overflow:auto;
	height: auto;
   }


   @media (max-width: 600px){
   .container { 
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-content: flex-end;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 15px;
	width: 600px;
	padding-top:0px;
	overflow:visible;
	height: auto;
	position: absolute;
	left: 0;
	top: 1020px;
	min-width: 480px;
	max-width: 600px;

   }
   } 
   @media (min-width: 768px) and (max-width: 959px){
	.container { 
	 box-sizing: border-box;
	 display: flex;
	 flex-direction: column;
	 align-content: flex-end;
	 justify-content: space-around;
	 margin: 0 auto;
	 margin-top: 15px;
	 width: 100%;
	 padding-top:0px;
	 overflow:visible;
	 height: auto;
	 position: absolute;
	 left: 0;
	 top: 1850px; 
	}
	} 

	


/* This is the outside container for the gallery toggle links */
	.exhibits {
	   box-sizing: border-box;
	   display: flex;
	   align-items: center;
	   /* justify-items: space-between; */
	   padding: 20px;
	   margin-right: 25px;
	   flex-direction: column;
	   text-align: center;
	   margin: 0 auto;
	   margin-bottom: 25px;	
	   position: absolute;
	   right:0;
		top: 5%;  
		width: 20%;
		height: auto;
		opacity: .7;
		background-color:#552233;
		overflow: visible;
		
	
	}
@media (max-width: 600px){
	.exhibits {	
		float: left;
		box-sizing: content-box;
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
		align-content: flex-start;
		justify-content: center; 
		/* padding: 20px; */
		margin-right: 0px;
		margin-left: 0px;
		flex-direction: row;
		flex-wrap: wrap;
		position: absolute;
		top: 1010px;
		left: 0;
		width: 425px;

	}}

	@media (min-width: 768px) and (max-width: 959px){
	.exhibits {	
		float: left;
		box-sizing: content-box;
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
		align-content: flex-start;
		justify-content: center; 
		padding: 20px; 
		margin-right: 0px;
		margin-left: 0px;
		flex-direction: row;
		flex-wrap: wrap;
		position: absolute;
		top: 100px;
		left: 0;
		width: 700px;

	}}
	@media (min-width: 1024px) and (max-width: 1100px){
		.container {
			position: absolute: 
			top: 35%
			Margin-left: 0;
			margin-right: 0;
		}
	}	
	 
/* This is the main heading for the five exhibits image links */
		p.heading   {
		display: flex;
		align-items: center;
		width:100%;
		justify-content: center;
		font-family: 'Gudea', sans-serif;
		font-weight: 600;
		font-style: italic;
		color:antiquewhite;
		font-size:24pt;
		font-style: italic;
		margin-bottom: 10px;
}

/*This is the back and forth painting gallery links section*/

/*This is the gallery title text*/
.galleryn   {
	display: inline-block;
	align: center;
	width:100%;
	height: 40px;
	padding:0;
	text-align: center; 
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	color:antiquewhite;
	font-size:14pt;
	margin-bottom: 25px;
	}

	@media (max-width: 600px){
	.galleryn   {
		display: inline-block;
		align: center;
		width:100%;
		height: 20px;
		padding:0;
		text-align: left;
		font-family: 'Gudea', sans-serif;
		font-weight: 600;
		font-style: italic;
		color:antiquewhite;
		font-size:11pt;
		margin-bottom: 5px;
		}
	}	

	/*here are the mechanics of the back and forth painting displays*/
.card {
        width: 225px;
        height: 225px;
		position: relative;
		display: inline-block;
		margin-bottom: 30px;
		margin-top: 25px;
}

/*here are the mechanics of the back and forth painting displays*/
@media (max-width: 600px){
	.card {
		width:200px;
		height: 150px;
		position: relative;
		/* right: 10px;
		left: 10px; */
		display: inline-flex;
		padding-right: 20px;
		padding-left: 20;
	}
	}
	@media (min-width: 768px) and (max-width: 959px){
		.card {
			width: 200px;
			height: 200px;
			position: relative;
			left: 0;
			right: 10px;
			left: 10px; 
			display: inline-flex;
			justify-content: space-around;
			padding: 20px;
			padding-left: 0;
		}
		}
		
		@media (min-width: 1024px) and (max-width: 1100px){
			.card {
				width: 150px;
			height: 150px;
			}
		}
img.one {
	width: 225px;
	height: 225px;
	
}

@media (max-width: 600px){
	img.one {
	width: 200px;
	height: 150px;
	padding: 20px;
	padding-left: 20px;
	padding-right: 20px;
	}
}

@media (min-width: 768px) and (max-width: 959px){
	img.one {
	width: 200px;
	height: 200px;
	padding: 20px;
	padding-left: 0px;
	padding-right: 20px;
	justify-content: space-around;
	}
}

@media (min-width: 1024px) and (max-width: 1100px){
	img.one {
    width: 150px;
	height: 150px;
	}
}
.card .img-top {
		display: none;
		position: absolute; 
		top: 0;
		left: 0;
		width: 225px;
		height: 225px;		
		z-index: 99;
}
@media (max-width: 600px){
	.card .img-top {
		display: none;
		position: absolute; 
		top: 0;
		left: 0;
		width: 200px;
		height: 150px;
		padding: 20px;
		padding-left: 0;
		z-index: 99;
	}
	}

	@media (min-width: 768px) and (max-width: 959px){
		.card .img-top {
			display: none;
			position: absolute; 
			top: 0;
			left: 0;
			width: 200px;
			height: 250px;
			padding: 20px;
			padding-left: 0
			
			z-index: 99;
		}
	}
	@media (min-width: 1024px) and (max-width: 1100px){
		img.top {
			width: 150px;
		height: 150px;
		}
	}
.card:hover .img-top {
display: inline;

}


	
/* This should hold the schedule, the form, the footer */
div.neath-multi {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	align-items: flex-start;
	position: absolute;
	top: 230%;
	right: 20%;
	background-color: antiquewhite;

}
@media (max-width: 600px){
		div.neath-multi {
			width: 50%;
			height: 500px;
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 900px;
			left:0;
			/* margin-left: 5px;
			margin-right: 5px; */
			align-content: flex-start;
			/* Border: solid 5px black; */
			
		}	
}

@media (min-width: 768px) and (max-width: 959px){
	div.neath-multi {
		position: absolute;
		top: 255%;
		left:0;
		align-content: flex-start;
		/* Border: solid 5px black; */
		
	}
}
@media (min-width: 1024px)and (max-width:1100px){
	div.neath-multi {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 165%;
		left:0;
		margin-left: 5px;
		margin-right: 5px;
		align-content: flex-start;	
	}
}

 @media (min-width: 1366px){
	div.neath-multi {
		/* width: 70%;
		height: auto;
		display: flex;
		flex-direction: column; */
		position: absolute;
		top:1650px;
		/* left:0;
		margin-left: 5px;
		margin-right: 5px;
		align-content: flex-start;	
		border: solid green 5px; */ 
	}	
} 

@media (min-width: 1800px)and (max-height: 1152px){
	div.neath-multi {
		width: 70%;
		height: auto;
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 165%;
		left:0;
		margin-left: 5px;
		margin-right: 5px;
		align-content: flex-start;	
		/* border: solid green 5px; */
	}	
}
@media (min-width: 1300px)and (max-width:1415px)and (min-height:720px ) and (max-height: 740px){
	div.neath-multi {
		position: absolute;
		top: 740px;
	}
}
.schedule  {
display: flex;
flex-direction: column;
align-content: flex-start;
align-items: flex-start;
width: 100%;
position: absolute;
top: 0;
left: 100px;

}
@media (max-width: 600px){
.schedule  {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	align-items: flex-start;
	width: 475px;
	position: absolute;
	top: 2100px;
	left:0;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 15px;
	/* Border: solid 5px black; */
}
}
@media (min-width: 768px) and (max-width: 959px){
	.schedule  {
		display: flex;
		flex-direction: column;
		align-content: flex-start;
		align-items: flex-start;
		width: 475px;
		position: absolute;
		top: 0;
		left:5%;
		margin-left: 5px;
		margin-right: 0;
		
		/* Border: solid 5px black; */
	}
	}
	@media (min-width: 1024px)and (max-width: 1100px){
		.schedule	{
		width: 700px;
		position: absolute;
		top:25px;
		left:150px;
		}
	}

	/* @media (min-width: 1366px)and (max-height: 768px){
	.schedule {
		position: absolute;
		top: 50px;
		/* border: solid 5px black; */
	}
	}  */
@media (min-width: 1800px){
	.schedule  {
	position: absolute;
	top: 0;
	width: 100%
	left:0;

}
}

.sched-heading{		
	font-size: 14pt;
	font-style: italic;
	font-weight: 300;
	line-height: 50px;
	padding-top: 0;
	padding-left: 10px;
	margin-left: 25px;
}
@media (max-width: 600px){
.sched-heading{		
	font-size: 14pt;
	font-style: italic;
	font-weight: 300;
	line-height: 50px;
	padding-top: 0;
	padding-left: 10px;
	margin-left: 0px;
}
}
	a		{
		text-decoration: none;
	}

	/* This is the container for the form viewers can submit to receive emails*/

	.email	{
		display: flex;
		flex-direction: column;
		color: antiquewhite;
		font-size:18pt;
		font-style: italic;
		justify-content: center;
		align-content: center;
		position: absolute; 
		top: 90%;
		left: 360px;
		/* width: 48%; */
	}
	@media (max-width: 600px){
	.email	{
		display: flex;
		flex-direction: column;
		color: antiquewhite;
		font-size:18pt;
		font-style: italic;
		position: absolute; 
		top: 350px;
		left: 5px;
		width: 500px;
		margin-top: 10px;
	}}

	@media (min-width: 768px) and (max-width: 959px){
		.email	{
			display: flex;
			flex-direction: column;
			color: antiquewhite;
			font-size:18pt;
			font-style: italic;
			position: absolute; 
			top: 275px;
			left: 5px;
			width: 700px;
			margin-top: 25px;
		}
	}

	@media (min-width: 1024px)and (max-width: 1100px){
		.email	{
		width: 700px;
		position: absolute;
		left:20px;

		}
	}
	@media (min-width: 1800px){
		.email	{
		position: absolute; 
		top: 90%;

		}
	}
	.form	{
		display: inline-block;	
		position: absolute;
		margin-right: 25%;
		margin-left: 25%;
		top: 10px;
		right: 0;
		width: 50%;
		background-color: #553343;
}
	

.formheading  {
	position: absolute;
	top: 0;
}

span.subm {
	font-size:14pt;
	color: antiquewhite;
}  


/* Bottom of Page with Contact Informtion */

/* .footer-container {
	display: block;
	text-align: center;
	width: 100%;
border: solid 10px brightpink;
} */

.footer	{
		display: block;
		text-align: center;
		width: 100%;
		position: absolute;
		top: 610px;
		bottom:0;
		/* left: 0px; */
		padding: 10px;
		height: 40px;
		font-size:  15pt;
		font-style: italic; 
		color: #553344;	
		background-color: antiquewhite;
		margin-top: 10px;
	
}

 @media (max-width: 600px){
	
	.footer {
	display: block;
	font-size: 10pt;
	width: 	300%;
	position: absolute;
	bottom: 0;
	top: 2760px;
	left: 0;
	/* text-align: center;  */
	/* border: solid 5px black; */
	margin-left: 0;
	margin-right: 0;
	}
} 

img.insta{
	width: 3px;
	height: 3px;

}
.returnlink {
	text-align: right;
	font-size: 15pt;
	margin-right: 0;
	font-weight: bold;
}
@media (max-width: 600px){
.returnlink {
ß	text-align: center; 
	font-size: 11pt;
	font-weight: 800;
	margin-right: 0;
	/* border: solid 5px greenyellow */
}
}

	 
	
		


