/* ul {
  list-style: none;
    margin: 0;
    padding: 0;
}

li.heading   {
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    color:#553344;
    font-family: 'Gudea', sans-serif;
    font-size:24pt;
    font-italic;
    margin-bottom: 25px;
    }

.submenu {
    display: none;
    position: absolute;
    background-color: #552233;
    top: 30px;
    width: 100%;
}
submenu li:hover {
  background-color: navy; 
}
  

submenu li a{
  color: antiquewhite;
  font-size:24pt;
  font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
  text-decoration: none;
  border-bottom: 1px solid white;
}


  .main-navigation {
    display: flex;
    background-color: antiquewhite;
  }
  
  .main-navigation li {
    flex: 1;
    height: 30px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
    font-size: 18pt;
    font-style: italic;
    width: 100%;
  }
  
  .main-navigation > li:hover{
    background-color: black;
    
    font-size: 24pt;
    
  }
  
  main-navigation > li > a {
    text-decoration: none;
    font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
    text-transform: uppercase;
    font-size: 24pt;
    color: black;
  }
  
  .main-navigation li:hover a {
    color: white;
  }
  
   */