
	*,
    *::before,
    *::after {
      box-sizing: inherit;
	}
	
	body		{
		background-color: antiquewhite;
		box-sizing: border-box;
		
		
		}
		
/*This holds the header info*/
.container-top
		{
	display: flex;
	flex-direction: column;
	opacity: .7;
	width: 100%;
	font-size: 30px;
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	color: antiquewhite;
	margin-right: 20px;
	margin-left: 0px;
	margin-top: 0px;
	height: auto;
		}

div h1 {
		display:flex;
		flex-direction: column;
		position: absolute;
		top: 15px;
		left: 55px;
		color: antiquewhite;
		background-color: #552233;
		text-shadow: 7px 7px: darkmagenta ;
		width: 100%;
		height: auto;
		margin: 0 auto;
		text-align:left;
		padding-left: 50px;
		padding-top: 10px;
		z-index:1;
}
span.heading	{
	font-size: 18pt;
	font-style: italic;
	padding-bottom: 10px;
}

/* This is the list of links in the nav */

div nav		{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 75px;
	right: 100px;
	margin-left: 30px;
	margin-top: 25px;	
	margin-bottom: 25px;
	overflow: visible;
}

/* a.link{
	color: maroon;
}

a.visited{
	color: paleturquoise;
}
a.hover {
	color: peachpuff;

a.visited {
	#334255;
} */



ul.nav		{
	display: flex;
	flex-direction: row;
	list-style: none;
	font-size: 24pt;
	font-weight: 800;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-left: 50px;
	margin-top: 20px;
}

li.nav		{
	display; flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	margin: 20px 8px;
	color: #antiquewhite;
	font-weight: 800;
	font-size: 15pt;
	padding-left: 10px;
	height: 25px;
	border-radius: 30px 40px;
	z-index:1;
}

li a	{
	text-decoration: none;
}
		
/*large div for frontpage article*/



.container-main{
	display: flex;
	opacity:.5;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width: 50%;
	text-decoration: none;
	flex-direction: column;
	position: absolute;
	top: 150px;
}

/* This holds the bio and artist's statement */

	.intro{
	display: flex;
	width: 50%;
	margin-right: 25px;
	margin-left: 100px;
	margin-top: 25px;
	padding-left:10px;
	padding-right:10px;
	padding:top:25px;
	text-decoration: none;
	flex-direction: column;
	position: absolute;
	top: 150px;
	background-image: url("Trade.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: absolute;
	background-color: antiquewhite;
	opacity: .5;
	color:#442255;
	font-size: 15pt;
	text-shadow: 1px 1px navy;	
} 

p.intro-title {
	padding: 0px;
	font-size: 24pt;
	font-weight: 600px;
	margin-bottom:10px;
	margin-top:10px;
	width:100%;
	opacity: 1;
	color: #553343
} 

span.intro-sub	{
	font-size: 20pt;
	color: darkmagenta;
	font-weight: 600;
	opacity: 1;
	background-color: antiquewhite;
	margin-left: 5px;
	padding: 5px;
}

span.intro-p1{
	font-size: 15pt;
	background-color: antiquewhite;
	opacity: 1;
	margin-left: 5px;
	padding: 5px;
	line-height: 25pt;
}



/* Photo of the artist */

img	{
	 float: left;
	 width:150px;	
	 padding-right: 10px;
	 padding-left: 10px;
	 text-decoration: none;
	}
	
/*right panel exhibits*/ 
/* This is the outside container for the gallery toggle links */

.container {
	display: flex;
	flex-direction:row;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
	width:100%;
	padding:5px;
	overflow:auto;
	height: auto;
	
   }


img.exhibits{
	width: 50%;
	height: 100%;
	margin: 5px;
}

p	{
	padding-bottom: 10px;
	margin: 0;
	font-size: 18pt;
	font-weight: 600; 
	color: #553343;
	font-style: italic;
}

/* This is the container within the container for the gallery toggle links */

.exhibits {
   display: block;
   /* justify-content: space-around;  */
   /* flex-direction: row; */
   text-align: center;
   margin: 0 auto;
   margin-bottom: 25px;
   padding-right: 20px;
   padding-bottom:15px;
   border: 5px solid white;
   position: absolute;
   right:30px;
	top: 200px;  
	width: 35%;
	height: auto;
	background-color:#552233;
	opacity: .7;
	overflow: visible;
	
}
p.heading   {
display: flex;
align-items: center;
width:100%;
justify-content: center;
font-family: 'Gudea', sans-serif;
font-weight: 600;
font-style: italic;
color:antiquewhite;
font-size:24pt;
font-italic;
margin-bottom: 25px;
}

li.heading   {
	display: flex;
	align-items: center;
	width:100%;
	justify-content: center;
	color:antiquewhite;
	font-size:24pt;
	font-italic;
	margin-bottom: 25px;
	position: absolute;
	right: 30px;
	}

div.subheading	{
	display: flex;
	align-items:center;
	width:100%;
	justify-content: space-around;
	padding-top:10px;
	padding-bottom: 10px;
	padding-right: 10px;
	position: right: 30px;
	color: antiquewhite;
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	font-size:16pt;
	font-style: italic;
	margin-bottom: 5px;
	margin-left: 0;
	z-index: 10;
	}

	
div.painting{
	margin-bottom: 35px;
}

/* right panel image toggle links to online galleries/	 */

    .painting .img-top {
        display: none;
		position: relative;
		height: 150px;
		width: 150px;
        top: 0;
		left: 0;
		margin: 0 auto;
		padding: 10px;
        z-index: 1;
	opacity: .8;

    }
    .painting:hover .img-top {
        display: inline;
	}
	
div.desc{
		padding: 10px;
		text-align: center;
	  }

/* Schedule Information with dropdown menu */

/*List for scheduling information of art events*/


.schedule{
	display: block;	
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;

}

ul.schedule	{
	position: relative;
	background-color: antiquewhite;
	list-style: none;
	width: 100%;
	margin-top: 25px;
}

ul.schedule:hover > li{
	display: block;
	width: 100%;
}
ul {
	list-style: none;
	  margin: 0;
	  padding: 0;
  }
  
  li.heading   {
	  display: flex;
	  align-items: center;
	  width:100%;
	  justify-content: center;
	  color:#553344;
	  font-family: 'Gudea', sans-serif;
	  font-size:24pt;
	  font-italic;
	  margin-bottom: 25px;
	  }
  
  .submenu {
	  display: none;
	  position: absolute;
	  background-color: #552233;
	  top: 30px;
	  width: 100%;
  }
  submenu li:hover {
	background-color: navy;
	padding: 10px; 
  }
	
  
  submenu li a{
	color: antiquewhite;
	font-size:24pt;
	font-family: 'Gudea', sans-serif;
	  font-weight: 600;
	  font-style: italic;
	text-decoration: none;
	padding-bottom: 15px;
	border-bottom: 1px solid white;
  }
  
  
	.main-navigation {
	  display: flex;
	  background-color: antiquewhite;
	}
	
	.main-navigation li {
	  flex: 1;
	  height: 30px;
	  display: flex; 
	  justify-content: center;
	  align-items: center;
	  position: relative;
	  margin-top: 25px;
	  margin-bottom: 25px;
	  font-family: 'Gudea', sans-serif;
	  font-weight: 600;
	  font-style: italic;
	  font-size: 18pt;
	  font-style: italic;
	  width: 100%;
	}
	
	.main-navigation > li:hover{
	  background-color: black;
	  padding: 5px;
	  font-size: 24pt;  
	  
	}
	
	.main-navigation > li > a {
	  text-decoration: none;
	  font-family: 'Gudea', sans-serif;
	  font-weight: 600;
	  font-style: italic;
	  font-size: 24pt;
	  color: #553343;
	  margin-bottom: 10px;
	  padding: 10px;
	}
	
	.main-navigation li:hover a {
	  color: antiquewhite;
	  padding: 5px;
	}
	
	
	a		{
		text-decoration: none;
	}

	/* This is the form viewers can submit to receive emails*/
	.form	{
		display: block;	
		position: absolute;
		right: 0;
		top: 950px;
		width: 100%;
		border: 1px black solid;
		background-color: #553343;
	
	}

	p.form	{
		display: flex;
		align-items: center;
		position: absolute;
		top: 900px;
		width:100%;
		justify-content: center;
		font-family: 'Gudea', sans-serif;
		font-weight: 600;
		font-style: italic;
		color:#553343;
		font-size:24pt;
		font-italic;
		margin-bottom: 5px;
		margin-top: 10px;
		
		  
	}

	/* Page 2 Galleries */
	
	div.galleryname {
		display: block;
		font-size: 24pt;
		color: maroon;
		font-style: italic;
		position: relative;
		top: 175px;
		text-align: left;
		margin-bottom: 10px;
		margin-top: 10px;
		margin-left: 100px;
		width: 80%;
	}

	.container-paintinggallery {
		display: block;
		margin: 0 auto;
		width: 100%;
		height: auto;
		position: relative;
		top: 200px;
		margin-left: 100px;

		
	}

	.painting {		
		width: 150px;
			height: 150px;
			position: relative;
			display: inline-block;
			opacity: .7;
		
		.landandsea	{
			position: absolute;
			top: 200px;
			align: center;
			margin: 0 auto;
			margin-bottom: 50px;
		}
		
		.wildandtame {
			position: absolute;
			top: 175px;
			align: center;
			margin: 0 auto;
		}
	
		
		}
		.painting .img-top {
			display: none;
			position: absolute;
			height: 150px;
			width: 150px;
			top: 0;
			left: 0;
			z-index: 1;
		opacity: .8;
	
		}
		.painting:hover .img-top {
			display: inline;
		}
	

	div.gallery-container{
		display: flex;
		position: absolute;
		top: 200px;
		width: 100%;
	}
	
	div.gallery {
		display: flex;
		margin: 0 auto;
		align-items: center
		border: 1px solid #ccc;
		float: left;
		width: 180px;
		height: auto;
		position: absolute;
		top: 200px;
	  }
	  
	  div.gallery:hover {
		border: 1px solid #777;
	  }
	  
	  div.gallery img {
		width: 100%;
		height: auto;
	  }
	 
	 
/* Footer with Contact Informtion */
	  div.footer	{
		display: block;	
		width: 100%;
			height: auto;
			border:solid 2px #552233;
			background-color:antiquewhite;
			position: absolute;
			bottom: -750px;
			color:#552233;
			margin: 0 auto;
			text-align: center;
	} 
			
		 
	  	 