
	*,
    *::before,
    *::after {
      box-sizing: inherit;
	}
	
	body		{
		background-color: antiquewhite;
		box-sizing: border-box;
		}
/*This holds the header info*/
.container-top
		{
	display: flex;
	background-image: url("Trade.jpg");
	opacity:.4;
	background-repeat: no-repeat;
	background-size: cover;
	background-color:#552233 ;
	width: 100%;
	font-size: 30px;
	font-family: 'Gudea', sans-serif;
	font-weight: 600;
	font-style: italic;
	color: antiquewhite;
	margin-right: 20px;
	margin-left: 0px;
	margin-top: 0px;
	height: 100%;
		}


div h1 {
		position: absolute;
		top: 15px;
		left: 55px;
		color: antiquewhite;
		background-color: #994455;
		text-shadow: 7px 7px: navy ;
		width: 90%;
		height: 150px;
		margin: 0 auto;
		z=index:1;
		text-align:left;
		padding-left: 50px;
		padding-top: 10px;
}
/* This is the list of links in the nav */

div nav		{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 30px;
	right: 100px;
	margin-left: 30px;
	margin-top: 25px;	
	
}

/* a.link{
	color: maroon;
}

a.visited{
	color: paleturquoise;
}
a.hover {
	color: peachpuff;

a.visited {
	#334255;
} */



ul		{
	display: flex;
	flex-direction: row;
	list-style: none;
	font-size: 24pt;
	font-weight: 800;
	padding: 15px;
	width: 100%;
	justify-content: center;
	align-content: center;
	margin-left: 50px;
	margin-top: 20px;

	
}

li.nav		{
	display; flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	margin: 16px;
	color: white;
	font-weight: 800;
	font-size:15px;
	font-size: 15pt;
	padding-left: 10px;
	height: 25px;
	box-sizing: content-box;
	background-color: white;
	border-radius: 15px 25px;
	opacity:.3
}

li a	{
	text-decoration: none;
}


		
/*large div for frontpage article*/

/* .container{
	display: flex;
	Justify-content: space-around;
	flex-direction: row;
	background-color: antiquewhite;
	font-size: 24px;
	font-family: 'Gudea', sans-serif;
	font-weight: 300;
	color: #552233;
	margin: 25px auto; 
	padding: 0;
	width: 90%;
	border: 1px solid #441132; */

.intro
	{
	display: flex;
	width: 50%;
	margin-right: 0px;
	margin-left: 100px;
	margin-top: 10px;
	padding-left:10px;
	padding-right:10px;
	padding:top:25px;
	text-decoration: none;
	flex-direction: column;
	position: absolute;
	top: 125px;
	color:maroon;
	text-shadow: 1px 1px navy;
	z-index: 1;	
}

p.intro-title {
	padding: 0px;
	font-size: 24pt;
	font-weight: 600px;
	margin-bottom:0;
}
img	{
	 float: left;
	 width: 100px;
	 height: 110px;
	 padding-right: 15px;
	 padding-left: 10px;
	 text-decoration: none;
	}

.strip {
	  display: flex;
	  align-content: stretch;
	  background-color: #552233;
	  width: 45px;
	  top: 50px
	  margin-left:0;
         }

/*right panel exhibits*/ 


.exhibits {
	   display: flex;
	   justify-content: space-around;
	   flex-direction: column;
	   padding-left: 15px;
	   margin-left: 50px;
	   margin-right: 0;
	   padding-bottom:0;
	   padding-top: 5px;
	   border: 5px solid white;
	   position: absolute;
	   right:30px;
		top: 200px;  
		width: 40%;
		background-color:#552233;
}	
div.heading   {
	display: flex;
	margin-left: 10px;
	margin-top: 5px;
	padding: 0;
	align-items: center;

}

div.exhibits-pix	{
	display: flex;
	flex-direcrtion: row;
}

.exhibits-pix {
	display: flex;
	flex-direction: row;
}


		   
.img-exhibits	{
		width: 40%;
		height: 125px;
		padding: 10px;
		padding-bottom:5px;
		margin-left:15px;
		border: 5px solid white;
}	



/* div.shows	{
		display: flex;
		flex-direction; rows;
		width:250px;
		height: 500px;
		box-sizing: box-content;
		border: 3px solid maroon;
		z-index: 1;
		position:absolute;
		right: 200px;
		color:antiquewhite;
		background-color: white;
} */

div.schedule {
		display:flex;
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		right: 25px;
		top: 200px;
		width: 325px;
		height: 55%;
		align-items: flex-start;
		background-color: antiquewhite;
		box-shadow: 1px 1px 10px 10px #553344;
		z-index: 1;
}

p.schedule {
		margin-left: 25px;
		margin-top: 5px;
		margin-bottom: 0px;
		font-size: 28px;
		color: maroon;
		font-weight: 600px;


}

/*front page image links to online galleries"/


/*List for scheduling information of art events*/

/* ul.schedule		{
		 list-style: none;
		 display: flex
		 flex-direction: column;
		 padding-top: 0;
		 margin-left: 25px;
		 font-family: 'Gudea', sans-serif;
		 font-weight: 300;
		 font-style: italic;
		 color: antiquewhite;
		 flex-wrap: nowrap;
		 width: 50%;
		 padding-right: 0;
		 padding-left:15px;
		 background-color: white;
		 margin-left:15px;
		 background-color: maroon;
	
		} */
		
li.schedule		{
		 display: flex;
		 flex-direction: column;
		 align-items: flex-start;
		padding-left: 5; 
		font-size: 24px;
		margin:0;
		margin-left: 5px;
		font-weight: 300;
		border: none;
}

		 
		
 a		{text-decoration: none;
		}
			  
ul h2		{
		 padding-0 0 0 15px;
		 padding-left: 15px;
              }

div.footer	{
		width: 100%
		height: 350px;
		border:white;
		background-image:url(Trade.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-color:#552233 ;
		
		position: absolute;
		bottom: 0px;
}